:root {
  /*COLORES*/
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d5;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #201e1c;
  --warm-black-1: #282623;
  --grey: #bababa;
  --off-white: #faf8f7;
  --just-white: #fff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: 'DM Sans', sans-serif;
  scroll-behavior: smooth;
}

/* HEADER */
header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  height: 334px;
  text-align: center;
  background: linear-gradient(
    207.8deg,
    var(--warm-black) 16.69%,
    var(--bitcoin-orange) 100%
  );
}

header img {
  width: 150px;
  height: 24px;
  margin-top: 60px;
  align-self: center;
}

.header__title-container {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: 218px;
  margin-top: 40px;
  text-align: center;
  align-self: center;
}

.header__title-container h1 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.6rem;
  color: var(--just-white);
}

.header__title-container p {
  margin-top: 25px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--soft-orange);
}

.header__title-container .header__button {
  position: absolute;
  left: calc(50% - 118px);
  top: 270px;
  display: block;
  margin-top: 35px;
  padding: 15px;
  width: 229px;
  height: 48px;
  background-color: var(--off-white);
  /* Sombra */
  box-shadow: 0px 4px 8px 0px rgba(89, 73, 30, 0.16);
  border: none;
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: 700;
  text-decoration: none;
  color: var(--warm-black);
}

.header__button span {
  display: inline-block;
  width: 13px;
  height: 8px;
  margin-left: 10px;
  background-image: url('./assets/icons/down-arrow.svg');
}

/* MAIN */

/* SECCIÓN 1 - INTERCAMBIOS*/
main {
  width: 100%;
  height: auto;
  background-color: var(--off-white);
}

.main-exchange-container {
  width: 100%;
  height: auto;
  padding-top: 80px;
  padding-bottom: 30px;
  text-align: center;
}

.main-exchange-container .backgroundImg {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 50px;
  background-image: url('./assets/imgs/bitcoin.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-exchange-container__title {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto;
}

.main-exchange-container__title h2 {
  margin-bottom: 25px;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.6rem;
  letter-spacing: 0;
  color: var(--warm-black);
}

.main-exchange-container__title p {
  margin-bottom: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #757575;
}

.main-currency-table,
.main-commission-table {
  width: 70%;
  min-width: 193px;
  max-width: 500px;
  height: 360px;
  margin: 0 auto;
  font-family: 'Inter', sans-serif;
}

.main-currency-table .currency-table__title {
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.3rem;
  color: var(--bitcoin-orange);
}

.main-commission-table .commission-table__title {
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.3rem;
  color: var(--secondary-blue);
}

.main-currency-table__container,
.main-commission-table__container {
  width: 90%;
  min-width: 230px;
  max-width: 300px;
  height: 250px;
  margin: 0 auto;
}

.main-currency-table__container table,
.main-commission-table__container table {
  width: 100%;
  height: 100%;
}

.main-currency-table__container td,
.main-commission-table__container td {
  width: 50%;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.9rem;
  color: var(--grey);
  background-color: var(--just-white);
}

.main-currency-table__container .table--top-left,
.main-commission-table__container .table--top-left {
  border-radius: 15px 0 0 0;
}

.main-currency-table__container .table--top-right,
.main-commission-table__container .table--top-right {
  border-radius: 0 15px 0 0;
}

.main-currency-table__container .table--bottom-left,
.main-commission-table__container .table--bottom-left {
  border-radius: 0 0 0 15px;
}

.main-currency-table__container .table--bottom-right,
.main-commission-table__container .table--bottom-right {
  border-radius: 0 0 15px 0;
}

.main-currency-table__container .table--right,
.main-commission-table__container .table--right {
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.7rem;
  color: #757575;
}

.main-currency-table__container span {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 10px;
}

.main-currency-table__container .down {
  background-image: url('./assets/icons/trending-down.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-currency-table__container .up {
  background-image: url('./assets/icons/trending-up.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.currency-table__date {
  width: 190px;
  height: 30px;
  margin: 0 auto;
  margin-top: 15px;
  padding: 8px;
  background-color: var(--soft-orange);
  border-radius: 8px;
}

.commission-table__date {
  width: 190px;
  height: 30px;
  margin: 0 auto;
  margin-top: 15px;
  padding: 8px;
  background-color: var(--soft-blue);
  border-radius: 8px;
}

.currency-table__date p,
.commission-table__date p {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: var(--warm-black-1);
}

/* SECCIÓN 2 - BENEFICIOS*/

.main-product-detail {
  position: relative;
  width: 100%;
  min-width: 320px;
  height: auto;
  padding: 20px 10px;
  background-color: var(--warm-black);
}

.product-detail__batata-logo {
  position: absolute;
  width: 40px;
  height: 25px;
  top: -10px;
  left: calc(50% - 20px);
  background-image: url('./assets/icons/papa.svg');
}

.producto-detail__title {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
  margin-top: 40px;
  text-align: center;
}

.producto-detail__title h2 {
  margin-bottom: 20px;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.6rem;
  color: var(--just-white);
}

.producto-detail__title p {
  margin-bottom: 20px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #808080;
}

.product-detail__card {
  width: 90%;
  min-width: 288px;
  max-width: 400px;
  min-height: 150px;
  margin: 15px auto;
  padding: 15px;
  background-color: var(--warm-black-1);
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}

.product-detail__card .icon {
  display: inline-block;
  width: 23px;
  height: 23px;
  margin-bottom: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.product-detail__card .clock {
  background-image: url('./assets/icons/clock.svg');
}

.product-detail__card .eye {
  background-image: url('./assets/icons/eye.svg');
}

.product-detail__card .dollar-sign {
  background-image: url('./assets/icons/dollar-sign.svg');
}

.product-detail__card .tick {
  background-image: url('./assets/icons/check-circle.svg');
}

.product-detail__card .product__card-title {
  margin-bottom: 12px;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.8rem;
  color: var(--just-white);
}

.product-detail__card .product__card-body {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #808080;
}

.bitcoin-img-container {
  width: 100%;
  min-width: 320px;
  height: 60vh;
  background-image: url('./assets/imgs/bitcoinbaby2x.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.bitcoin-img-container h2 {
  padding-top: 60px;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.6rem;
  color: var(--just-white);
}

/* SECCIÓN PLANES */

.main-plans-container {
  width: 100%;
  min-width: 320px;
  padding: 65px 0;
  text-align: center;
}

.plans__title {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 50px;
}

.plans__title h2 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.6rem;
  color: var(--warm-black);
}

.plans__title p {
  padding-top: 25px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #757575;
}

.plans-container__slider {
  display: flex;
  /* gap: 50px; */
  height: 316px;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}

.plans-container__card {
  position: relative;
  scroll-snap-align: center;
  width: 70%;
  min-width: 190px;
  max-width: 300px;
  height: 250px;
  margin: 50px 5px 0;
  padding: 0 15px;
  background-color: var(--just-white);
  border-radius: 15px;
  box-shadow: 0px 4px 8px 0px rgba(89, 73, 30, 0.16);
}

.plan-float {
  position: absolute;
  width: 120px;
  height: 31px;
  top: -15px;
  left: calc(50% - 60px);
  padding: 8px;
  border-radius: 8px;
  color: var(--just-white);
  font-family: 'Inter', sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.4rem;
}

.recommended .plan-float {
  background-color: var(--bitcoin-orange);
}

.basic .plan-float {
  background-color: var(--secondary-blue);
}

.premium .plan-float {
  background-color: var(--warm-black-1);
}

.plan-card__title {
  padding-top: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: black;
}

.plan-card__price {
  padding: 5px 0;
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 6.3rem;
  letter-spacing: -0.08em;
  font-family: 'Inter', sans-serif;
  color: black;
}

.plan-card__price span,
.plan-card__saving {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.4rem;
  font-family: 'Inter', sans-serif;
}

.plan-card__saving {
  color: #757575;
}

.plan-card__price span {
  position: relative;
  bottom: 29px;
  left: 1px;
  color: #363636;
}

.plan-card__ca {
  width: 150px;
  height: 48px;
  margin-top: 20px;
  background-color: var(--off-white);
  border-radius: 4px;
  font-family: 'DM Sans', sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.8rem;
  color: var(--warm-black);
}

.recommended .plan-card__ca {
  border: 2px solid var(--bitcoin-orange);
}

.basic .plan-card__ca {
  border: 2px solid var(--secondary-blue);
}

.premium .plan-card__ca {
  border: 2px solid var(--warm-black-1);
}

.plan-card__ca span {
  display: inline-block;
  vertical-align: text-bottom;
  width: 20px;
  height: 20px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.recommended .plan-card__ca span {
  background-image: url('./assets/icons/orange-right-arrow.svg');
}

.basic .plan-card__ca span {
  background-image: url('./assets/icons/blue-right-arrow.svg');
}

.premium .plan-card__ca span {
  background-image: url('./assets/icons/black-right-arrow.svg');
}

/* FOOTER */
footer {
  display: flex;
  width: 100%;
  height: 150px;
  background-color: var(--bitcoin-orange);
}

footer section {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .left ul {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  list-style: none;
}

.left li {
  margin: 10px 0;
}

footer .left a {
  text-decoration: none;
  color: var(--just-white);
}
